.footer {
  color: #d5c28f;
  text-align: center;
  background-color: #1a1a1a;
  width: 100%;
  padding: 0.5rem 0; 
}


@media (max-width: 768px) {
  .footer {
    padding-bottom: 4rem; 
  }
}

.about-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.credit {
  font-size: 0.875rem;
  line-height: 1.25rem;
}