
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}


.app-header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #282c34;
}


.content-container {
  flex: 1;
  position: relative;
  margin-top: 0; 
}


.app-footer {
  z-index: 10;
}


.banner-image {
  width: 100%;
  height: calc(100vh - var(--header-height)); 
  object-fit: cover;
}


body {
  margin: 0;
  padding: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.scrolbar-none::-webkit-scrollbar{
  display: none;
}